.env.prototxt
*.log

# Build artifacts
_bin
/radiance
/cmd/radiance/radiance
/vendor
/facebook

# Data
*.car
*.sst
LOG*
LOCK
CURRENT
MANIFEST-*
OPTIONS-*

# Nix
/result

# Editor junk files
# Please just use a global gitignore conf, I'm tired of this
.idea
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
